<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title">
    <div class="docs-example-viewer-title-spacer">{{ exampleData.title }}</div>
  </div>

  <div class="docs-example-viewer-source" *ngIf="showSource">
    <div *ngFor="let f of exampleData.files">
      <div class="docs-example-source-wrapper">
        <pre
          class="docs-example-source"
          [innerHtml]="f.content"
          #textContent
        ></pre>
      </div>
    </div>
  </div>

  <div class="docs-example-viewer-body">
    <ng-template #demo></ng-template>

 
  </div>
</div>
